body, html {
    height: 100%;
    font-family: 'Thasadith', sans-serif;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("mainpic.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  color: white;
  vertical-align: center;

}

.nav-link{
   
    font-size: 18px;
    vertical-align: center;
    color:#0F383D;

}
.nav-item a {

    position: relative;

}

.nav-item a::after { 
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #0F383D;
    position: absolute;
    Left: 0;
    bottom: 12px;
    transform: scaleX(0);
    transform-origin: left center;
    transition: 1s;
}

.nav-item a:hover::after{
    transform: scaleX(1);
}

nav{
    background-color: #E0ECED;
    color: #0F383D;
    text-align: center;
    border: 2px solid #0F383D;;

}

ul {

    list-style-type: none;
    
}

footer{ 
    background-color: #0F383D;
    
}

li{
    margin-top:20px;
    
}

a{
    font-size: 200%;
}
.footerlink{
    color: white;
    font-size:15px;

}
.footerlink:hover{
    color: white;
    font-size:15px;

}

.bluebox{
    background-color: #E0ECED;
    color: #0F383D;
    text-align: center;
    border: 2px solid #0F383D;;

}


h1{
    font-weight: bold;
   font-size: 48px;
}

ul{
    color: #0F383D;
    font-size: 25px;
}




.btn-sample { 
    color: #0F383D; 
    background-color: #FFFFFF; 
    border-color: #0F383D; 
    font-weight: bolder;
    font-size: 18px;
    border-radius: 30px;
    padding:0.6em 2em;
    box-shadow: 2px 3px 4px rgb(37, 37, 37);
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: #0F383D; 
    background-color: #97BFDE; 
    border-color: #0F383D; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   

   
  .btn-sample .badge { 
    color: #FFFFFF; 
    background-color: #0F383D; 
  }



.btn-sample { 
    color: #0F383D; 
    background-color: #FFFFFF; 
    border-color: #0F383D; 
    font-weight: bolder;
    font-size: 18px;
    border-radius: 30px;
    padding:0.6em 2em;
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: #0F383D; 
    background-color: #97BFDE; 
    border-color: #0F383D; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   

   
  .btn-sample .badge { 
    color: #FFFFFF; 
    background-color: #0F383D; 
  }




label{ 
    color: #0F383D; 
    font-weight: bolder;
    font-size: 18px;
}



.btn-sample1 { 
    color: white; 
    background-color:  #0F383D; 
    border-color: #0F383D; 
    font-weight: bolder;
    font-size: 36px;
    border-radius: 30px;
    padding:0em 1em;
    box-shadow: 2px 3px 4px rgb(37, 37, 37);
    
  } 
   
  .btn-sample1:hover, 
  .btn-sample1:focus, 
  .btn-sample1:active, 
  .btn-sample1.active, 
  .open .dropdown-toggle.btn-sample1 { 
    color: #0F383D; 
    background-color: #97BFDE; 
    border-color: #0F383D; 
  } 
   
  .btn-sample1:active, 
  .btn-sample1.active, 
  .open .dropdown-toggle.btn-sample1 { 
    background-image: none; 
  } 
   

   
  .btn-sample1 .badge { 
    color: #FFFFFF; 
    background-color: #0F383D; 
  }

  @keyframes isabella{
    0% { background-color: rgb(142, 200, 206); }
    100% {background-color: #0F383D; }

}
  .btn-sample1 {
    animation: isabella 3s linear 0s alternate infinite;
    box-align: center;
}


  .galleryimg img{
    height:400px;
    width:100%;
    object-fit: cover;
  }

  .fun img{
    height:200px;
    width:100%;
    object-fit: cover;
  }




.padding-r{
    padding-right:0;
}

